    /* Define font styles */
    body {
        margin: 0px;
        color: black;
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      h1, h2, h3, h4, h5, h6 {
        color: black;
        font-family: franklin-gothic-atf, sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      p{
        color: black;
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .fontSecondary {
        font-family: "Georgia", monospace;
      }
  
      /* Define font sizes */
      h1 {
        font-size: 47pt;
      }
      h2 {
        font-size: 33pt;
      }
      h3 {
        font-size: 28pt;
      }
      p {
        font-size: 12pt;
      }
  
      /* Define colors */
      .primary {
        color: #ff0000;
      }
      .secondary {
        color: #00ff00;
      }
      .tertiary {
        color: #0000ff;
      }
      .bg-primary {
        background-color: #b5caca;
      }
      .bg-secondary {
        background-color: #647a76;
      }
      .bg-tertiary {
        background-color: #2f393a;
      }
      .bg-soft-gray {
        background-color: #232222;
      }
      .bg-soft-white{
        /* background-color: white; */
        background-image: url('/Rescources/Statue_01.png'), url("/Rescources/ShapesColoured.png"), url(/Rescources/Shapes.png);
        background-attachment:scroll,fixed, scroll;
        background-position: center center, center center, right right;
        background-size: cover;
        background-blend-mode: overlay, normal, overlay;
      }
      .bg-paper{
        background-image: url('/Rescources/paperTexture.jpg');
        background-position: center center;
        background-size: cover;
      }
  
      /* Define button styles */
      a {
        color: white;
        text-decoration: none;
        border-radius: 0;
        }
        .smallbtn {
        background-color: #232222;
        padding: 10px 20px;
        }
        .bigbtn {
        background-color: #232222;
        padding: 15px 25px;
        font-size: 24px;
        }

      /* Style for the text in the middle of the page */
      .center-text {
        text-align: center;
        color: white;
        padding: 100px;
        margin: 0px;
      }
      .outlined-text{
        text-align:left;
        color: #1a1b1f;
        padding: 100px;
        margin: 0px;
        margin-left: 100px;
      }

      .outlined-text p{
        font-family: ;
      }