

html {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    margin: 0px;
    overflow: auto;
    background-image:url("/rescources/assets-contact-mobile-version/background\ paper.svg");
    background-size: cover;
    overflow-x: hidden;
}

@media(max-width:480px){
    
    #graffiti {
    width: 328px;
    position: absolute;
    top: 80%;
    left: 68%;
    transform: translate(-50%, -50%);
    
}

#standbeeld {
    width: 109px;
    position: absolute;
    top: 95%;
    left: 85%;
    transform: translate(-50%, -50%);
}
  
}

header {
    display: flex;
    align-items: center;
    /* center the logo and nav vertically */
    justify-content: space-between;
    /* align the logo to the left and nav to the right */
    padding: 10px;
    width: calc(100% - 20px);
    top: -20px;
}

.logo {
    margin-top: 20px;
    margin-left: 50px;
}

.logo img {
    width: 80px;
}

.square-button,
.big-square-button {
    min-width: 100px;
    min-height: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.square-button span,
.big-square-button span {
    display: inline-block;
    font-weight: bold;
}

.square-button:hover,
.big-square-button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: rotate(5deg);
    transform: rotate(-15deg);
    transition-duration: 300ms;
}

.big-square-button {
    min-width: 120px;
    /* adjust as needed */
    min-height: 70px;
    /* adjust as needed */
    font-size: 27pt;
}

.square-button {
    font-size: 16pt;
}

nav {
    align-items: center;
    /* center the links vertically */
    justify-content: flex-end;
    /* align the links to the right */
    flex: 1 1 auto;
    /* allow the nav to fill the remaining space */
    display: flex;
    width: 100%;
    z-index: 1;
}

nav button {
    margin-right: 20px;
    padding: 5px 10px;
    /* add some space between the words */
}

.scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: 50px;
    cursor: pointer;
}

.scroll-to-top img {
    width: 70px;
}

main {
    margin: 50px;
}

.title {
    margin-top: -20px;
    font-size: 12px;
    transform: rotate(-5deg);
    font-family: "Franklin Gothic Heavy", Arial, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
}


.button1 {
margin-top: 35px;
font-size: 20px;
    font-family: "Franklin Gothic Heavy", Arial, sans-serif;
    color: white;
    background-color: #0064c2;
    border-radius: 50px;
    padding: 12px;
    padding-left: 25px;
    text-decoration: none;
    width: 100% -20px;
    display: block;

}



.menu-container {
    position: relative;
    z-index: 100;
}

.menu-icon {
    position: absolute;
    width: 70px;
    margin-top: -20px;
    margin-right: 50px;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    padding: 10px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    z-index: 100;
}

.menu a {
    text-decoration: none;
    font-size: 24pt;
    color: black;
    margin-bottom: 10px;
    display: block;
}

.menu a:hover {
    color: #0077ff;
}

.menu-visible {
    display: block;
    visibility: visible;
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

