body {
	margin: 0;
}

.wrapper {
	background-color: aqua;
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 100px;
	margin: 50px;
}

.topnav {
	margin-right: 50px;
}

.topnav ul li {
	display: inline-block;
	margin-right: 30px;
	font-size: 20px;
}

.topnav a {
	text-decoration: none;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	color: white;
}

.deelnemen {
	background-color: #ffd200;
	/**color: #DB7CAA;*/
	padding: 25px;
	border-radius: 25px;
}

.title {
	background-color: black;
	margin-left: 150px;
	width: 500px;
	color: white;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	padding: 5px;
	transform: rotate(-5deg);
}

.title h1 {
	margin-left: 25px;
}

.formulier {
	background-color: yellow;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.anubis {
	background-color: green;
	width: 300px;
	margin-top: 200px;
}

.input {
	background-color: white;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	margin-right: 100px;
}

label {
	color: #1e64c8;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	margin-top: 20px;
	margin-left: 5px;
	display: block;
}

.text-field {
	font-size: 13px;
	padding: 10px;
	border: 2px solid #000;
	border-radius: 50px;
	display: block;
}

.t-input {
	color: #1e64c8;
	background-color: #fff;
	opacity: 0.6;
	width: 400px;
	height: 38px;
	display: block;
	box-sizing: border-box;
}

.text-field.text-input-long {
	height: 130px;
	border-radius: 25px;
}
.t-input::placeholder {
	color: #1e64c8;
}
.t-input:focus {
	outline: none !important;
	border: 2px solid #db7caa;
}

#submit-button {
	width: 150px;
	margin-top: 20px;
	margin-left: 240px;
}

footer {
	background-color: darkmagenta;
}
