html {
    scroll-behavior: smooth;
    overflow: auto;
}

.container {
    overflow-x: hidden;
    width: 100%;
}

body {
    width: 100vw;
    height: 100vw;
    margin: 0;
    overflow: auto;
    background-image: url("/rescources/index_mobile/background_graffiti.svg"), url("/rescources/index_mobile/background-paper-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    /* center the logo and nav vertically */
    justify-content: space-between;
    /* align the logo to the left and nav to the right */
    padding: 10px;
    width: calc(100% - 20px);
    top: -20px;
    z-index: 5;
}

.logo {
    margin-top: 20px;
    margin-left: 50px;
    z-index: 2;
}

.logo img {
    width: 80px;
}

.square-button,
.big-square-button {
    min-width: 100px;
    min-height: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.square-button span,
.big-square-button span {
    display: inline-block;
    font-weight: bold;
}

.square-button:hover,
.big-square-button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: rotate(5deg);
    transform: rotate(-15deg);
    transition-duration: 300ms;
}

.big-square-button {
    min-width: 120px;
    /* adjust as needed */
    min-height: 70px;
    /* adjust as needed */
    font-size: 27pt;
}

.square-button {
    font-size: 16pt;
}

nav {
    align-items: center;
    /* center the links vertically */
    justify-content: flex-end;
    /* align the links to the right */
    flex: 1 1 auto;
    /* allow the nav to fill the remaining space */
    display: flex;
    width: 100%;
    z-index: 1;
}

nav button {
    margin-right: 20px;
    padding: 5px 10px;
    /* add some space between the words */
}

.scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: 50px;
    cursor: pointer;
    z-index: 10;
}

.scroll-to-top img {
    width: 70px;
}

main {
    margin: 50px;
}

.menu-container {
    position: relative;
    z-index: 100;
}

.menu-icon {
    position: absolute;
    width: 70px;
    margin-top: -20px;
    margin-right: 50px;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    padding: 10px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    z-index: 100;
}

.menu a {
    text-decoration: none;
    font-size: 24pt;
    color: black;
    margin-bottom: 10px;
    display: block;
}

.menu a:hover {
    color: #0077ff;
}

.menu-visible {
    display: block;
    visibility: visible;
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

#doe-mee {
    width: 220px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#wereld {
    width: 170px;
    position: absolute;
    top: 37%;
    right: 0;
    transform: translate(0%, -60%);
    z-index: 3;
}

#beker {
    width: 220px;
    position: absolute;
    top: 38%;
    left: 0;
    transform: translate(0%, -110%);
    z-index: 1;
}

#doodle1 {
    width: 150px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(10%, -110%);
    z-index: 0;
}

#doodle2 {
    width: 250px;
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(0%, -70%);
    z-index: 0;
}

#dottedMountain {
    width: 400px;
    position: absolute;
    bottom: -0%;
    left: 0;
    z-index: 0;
}

#blueDoodles {
    width: 110%;
    position: absolute;
    bottom: 10%;
    left: -5%;
    z-index: 0;
}

.image-container {
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5000;
}

#balls {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#missionBall,
#visionBall {
    width: 240px;
    height: 240px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#missionBall button,
#visionBall button {
    margin-top: 20px;
}

#missionBall p,
#visionBall p {
    text-align: center;
    margin-top: 20px;
}

#missionBall button:hover,
#visionBall button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: rotate(5deg);
    transform: rotate(-15deg);
    transition-duration: 300ms;
}

/* #missionBall {
    width: 240px;
    bottom: 35%;
    left: 25%;
    transform: translate(-35%, 15%);
    z-index: 2;
}

#visionBall {
    width: 240px;
    position: absolute;
    bottom: 10%;
    right: 15%;
    z-index: 2;
}

#missionBall button {
    position: absolute;
    top: 10%;
    /* adjust as needed */
/*
    left: 25%;
}

#missionBall p {
    position: absolute;
    top: 28%;
    /* adjust as needed */
/*
    left: 8%;
}

#visionBall p {
    position: absolute;
    top: 22%;
    /* adjust as needed */
/*
    left: 15%;
}

#visionBall button {
    position: absolute;
    top: 10%;
    /* adjust as needed */
/*
    left: 25%;
}

#missionBall button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: rotate(5deg);
    transform: rotate(-15deg);
    transition-duration: 300ms;
} */