html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    /* center the logo and nav vertically */
    justify-content: space-between;
    /* align the logo to the left and nav to the right */
    padding: 10px;
    width: calc(100% - 20px);
    top: -20px;
}

.logo {
    margin-left: 50px;
}

.logo img {
    width: 80px;
}

.square-button,
.big-square-button {
    min-width: 100px;
    min-height: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.square-button span,
.big-square-button span {
    display: inline-block;
    font-weight: bold;
}

.square-button:hover,
.big-square-button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: rotate(5deg);
    transform: rotate(-15deg);
    transition-duration: 300ms;
}

.big-square-button {
    min-width: 120px;
    /* adjust as needed */
    min-height: 70px;
    /* adjust as needed */
    font-size: 27pt;
}

.square-button {
    font-size: 16pt;
}

nav {
    align-items: center;
    /* center the links vertically */
    justify-content: flex-end;
    /* align the links to the right */
    flex: 1 1 auto;
    /* allow the nav to fill the remaining space */
    display: flex;
    width: 100%;
    z-index: 1;
}

nav button {
    margin-right: 20px;
    padding: 5px 10px;
    /* add some space between the words */
}

.scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: 50px;
    cursor: pointer;
}

.scroll-to-top img {
    width: 70px;
}

main {
    margin: 50px;
}

.menu-container {
    position: relative;
}

.menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    padding: 10px;
}