/* Franklin Gothic, 500 Medium, 800 Heavy - Acumin Pro, 500 Medium */
@import url("https://use.typekit.net/hfz6deq.css");



body {
    margin: 0;
    font-family: "franklin-gothic-atf", sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;

    /*font-family: "acumin-pro", sans-serif;*/
    /*font-weight: M500 OR H800;*/
    background-image: url("rescources/participation/Dots-left_4.png"), url("/rescources/participation/Dots-left_1.png"), url("rescources/participation/background paper.svg");
    background-size: 110px, 260px, 100%;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top right, top right, center;

}

.background-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, minmax(50px, auto));
}

.grid-wrapper {
    grid-column: 1/13;
    grid-row: 1/11;

    margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, minmax(50px, auto));
}

@media (min-width: 991px) {
    body {
        background-size: 8%, 20%, 100%;
    }

    .grid-wrapper {
        margin: 0px auto;

        width: 90%;
        max-width: 1100px;
    }
}



/* HEADER */
header {
    grid-column: 1/13;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    margin: 0px 20px;
    padding-top: 20px;

    position: relative;
    z-index: 1;
}

.logo-link {
    grid-column: 1 / 2;

    align-self: center;
    justify-self: start;

    text-decoration: none;
}

.logo-link img {
    height: 75px;
}

li {
    list-style: none;
}

.nav-menu {
    grid-row: 1;

    top: 25px;
    right: -350px;

    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(2, 35px);
    grid-row-gap: 0px;

    align-items: center;

    position: fixed;
    z-index: -1;

    text-align: left;
    transition: 0.3s;

    background-color: rgba(219, 124, 170, .7);
    border-radius: 20px 0px 0px 20px;
}

.nav-menu.active {
    top: 25px;
    width: 70%;
    right: 0px;

    display: grid;
    grid-template-columns: repeat(8, minmax(40px, auto));
    grid-template-rows: repeat(2, 35px);
    grid-row-gap: 0px;

    align-self: center;
    position: fixed;

    background-color: rgba(255, 255, 255, 0.8);
}

a {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;

    position: relative;
    z-index: 1;
}

.home {
    grid-column: 1;
    grid-row: 1;
}

.contact {
    grid-column: 2;
    grid-row: 2;
}

.about {
    grid-column: 3;
    grid-row: 1;
}

.participation {
    grid-column: 4/5;
    grid-row: 2;
}

.nav-button {
    margin: 0px 10px;
    padding: 4px 8px;

    transition: all.25s ease;
    cursor: pointer;

    display: inline-block;
}

.nav-button:hover {
    color: #fff;
    background-color: #000;
    transform: rotate(-8deg);
}

.nav-button-2 {
    color: #FFD200;
    background-color: #DB7CAA;
    border-radius: 10px;
    padding: 4px 8px;

    margin: 0px 15px;

    transition: .3s ease;
    cursor: pointer;
}

.nav-button-2:hover,
.active {
    color: #FFD200;
    background-color: #000;
}

.hamburger {
    display: block;
    cursor: pointer;

    grid-column: 4/5;
    align-self: center;
}

.hamburger img {
    margin: 0;
    padding: 0;
    float: right;
    width: 50px;

    background-color: #fff;
}

@media (min-width: 767px) {
    header {
        grid-template-rows: repeat(1, auto);

        margin: 0px 20px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        grid-column: 3/4;

        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
        grid-column-gap: 10px;

        width: 100%;
        text-align: right;
        right: 0px;

        position: unset;

        background-color: transparent;
    }

    a {
        font-size: 18px;
        line-height: 24px;
    }

    .home {
        grid-column: 1;
    }

    .about {
        grid-column: 2;
    }

    .contact {
        grid-column: 3;
        grid-row: 1;
    }

    .participation {
        grid-column: 4/6;
        grid-row: 1;
        margin-right: 10px;
    }
}

@media (min-width: 991px) {
    header {
        margin: 0px 50px;
    }

    .logo-link img {
        height: 85px;
    }
}




/* ARTWORK */
.artwork {
    grid-column: 1/13;
    grid-row: 3/10;

    background-image: url("rescources/participation/bouddha_phone2.png"), url("rescources/participation/Doodle_2.png"), url("rescources/participation/Post-it_1.png"), url("rescources/participation/Dots-blue_1.png"), url("rescources/participation/Dots-left_2.png"), url("rescources/participation/Graffiti_1-3.png");
    background-size: 220px, 140px, 200px, 280px, 270px, 315px;
    background-repeat: no-repeat;
    background-position: bottom left +10px, top +45px left +4px, bottom right, bottom left, bottom right, bottom right;
}

@media (min-width: 991px) {
    .artwork {
        grid-row: 3/10;

        background-size: 450px, 250px, 250px, 650px, 650px, 800px;
        background-position: bottom left +20px, bottom +450px left +40px, bottom +50px right +200px, bottom left, bottom right, bottom right;
    }
}



/* FORM */
.title {
    grid-column: 1/12;
    grid-row: 3/4;

    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: -30px;

    width: 380px;
}

.title img {
    width: 175px;
}

.title-image {
    transform: rotate(-5deg);
    margin-left: -10px;
    margin-top: -50px;

    position: absolute;
    z-index: -1;
}

.title-name {
    color: #fff;
    font-size: 34px;
    line-height: 46px;
    font-weight: 800;
    text-align: center;

    transform: rotate(-5deg);

    margin-top: 30px;

    background-color: #000;
}

@media (min-width: 991px) {
    .title {
        margin-left: 0px;
    }
}


/* Form box */
.form-box {
    grid-column: 1/13;
    grid-row: 4/5;
    background-color: #000;
    border-radius: 50px;
    opacity: 0.1;

    z-index: -1;
}

.form-grid {
    grid-column: 1/13;
    grid-row: 4/5;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, minmax(50px, auto));
    grid-row-gap: 60px;

    margin: 0px 35px;
}

/* Form content grid */
.content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.school-grid {
    margin-top: 125px;
    grid-row: 1;
}

.teacher-grid {
    grid-row: 2;
}

.participation-grid {
    grid-row: 3;
}

@media (min-width: 991px) {
    .form-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(50px, auto));
        grid-column-gap: 60px;
    }

    .school-grid {
        grid-row: 1;
        grid-column: 1;

        height: fit-content;
    }

    .teacher-grid {
        grid-row: 2;
        grid-column: 1;

        height: fit-content;
    }

    .participation-grid {
        margin-top: 125px;
        grid-row: 1/5;
        grid-column: 2;

        height: fit-content;
    }
}


/* Textboxes */
label {
    color: #1E64C8;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;

    margin-bottom: 3px;
    margin-left: 25px;

    display: block;
}

.text-field {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;

    padding: 20px 25px;
    border: 2px solid #000;
    border-radius: 50px;
    margin: 0px;

    display: block;
}

.t-input {
    color: #1E64C8;
    background-color: #fff;
    opacity: 0.6;


    width: 100%;
    height: 38px;

    display: block;
    box-sizing: border-box;
}

.text-field.text-input-long {
    height: 125px;
    border-radius: 25px;
    padding-top: 8px;
}

.text-field.up-button {
    height: 100px;
    border-radius: 25px;
    padding-top: 8px;

    font-weight: 800;
    text-align: center;
}

textarea,
input {
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 500;
}

.t-input::placeholder {
    color: #1E64C8;
}

.t-input:focus {
    outline: none !important;
    border: 2px solid #DB7CAA;
}

/* School */
.naam-school {
    grid-column: 1/5;
    grid-row: 1;
}

.straat-nr {
    grid-column: 1/5;
    grid-row: 2;
}

.stad {
    grid-column: 1/3;
    grid-row: 3;
}

.postcode {
    grid-column: 3/5;
    grid-row: 3;
}

/* Teacher */
.naam-leerkracht {
    grid-column: 1/5;
    grid-row: 1;
}

.email-leerkracht {
    grid-column: 1/5;
    grid-row: 2;
}

.vakken-leerkracht {
    grid-column: 1/5;
    grid-row: 3;
}

.tel-leerkracht {
    grid-column: 1/5;
    grid-row: 4;
}

/* Participating */
.deelnemers {
    grid-column: 1/4;
    grid-row: 1;
}

.waarom-deelname {
    grid-column: 1/5;
    grid-row: 2;
}

.slogan {
    grid-column: 1/5;
    grid-row: 3;
}

.upload-logo {
    grid-column: 1/5;
}

.upload-logo img {
    width: 65px;

    cursor: pointer;
}

/* Olympiade yes-maybe-no */
.olympiade-checkbox {
    grid-column: 1/5;
    position: relative;

    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
}

.olympiade-checkbox img {
    width: 400px;
    margin-left: -10px;
    margin-top: 20px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    margin-top: 3px;
}

.t-small {
    font-size: 12px;
    line-height: 18px;
    margin-top: 30px;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0px;
    margin-top: 50px;
}

/* Hide the browser's default checkbox */
.box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    margin-left: -18px;
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #FFD200;
    border: 2px solid #000;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.box-container:hover input~.checkmark {
    background-color: #FFD200;
}

/* When the checkbox is checked, add a blue background */
.box-container input:checked~.checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.box-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.box-container .checkmark:after {
    left: 10.5px;
    top: 3.5px;
    width: 9px;
    height: 18px;
    border: solid #FFD200;
    border-width: 0 6px 6px 0;
    border-radius: 3px;
    transform: rotate(35deg);
}

/* Send button */
.verzenden {
    grid-column: 1/5;

    margin: 20px 12% 30px 12%;
}

.hide {
    margin-left: 12px;
    margin-right: -12px;
    margin-top: -30px;
    margin-bottom: 30px;

    display: none;
}

.submit-button:hover~.hide {
    display: block;
}

.verzenden:hover {
    margin-bottom: -14px;
}

.submit-button {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    text-align: center;

    padding: 10px 25px;
    border: 2px solid #000;
    border-radius: 0px;
    opacity: 0.7;

    width: 100%;

    background-color: #DB7CAA;
}

.submit-button:hover {
    background-color: #7F4C63;
}



/* FOOTER */
footer {
    grid-column: 1/13;
    grid-row: 10/11;

    margin: 0px 20px;
    /*
    background-image: url(rescources/participation/Footer_background.svg);
    */
}

.lines {
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;

    margin: 0px -20px;
}

.line-size {
    height: 6.5px;
}

.blue {
    background-color: #1E64C8;
}

.pink {
    background-color: #DB7CAA;
}

.yellow {
    background-color: #FFD200;
}

.black {
    background-color: #000;
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
}

.uni-logos {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;

    margin: 10px 0px;
    align-items: center;
    justify-content: left;
}

.ugent {
    width: 65px;
}

.faculty {
    width: 125px;
    margin-left: 20px;
    margin-top: 5px;
}

.socials {
    grid-column: 3;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;

    margin-top: 20px;
    margin-right: -15px;
    justify-content: right;
}

.logo-size {
    width: 45px;
    margin-left: 20px;
}

.email-txt {
    display: none;

    grid-column: 2;

    color: #1E64C8;
    font-size: 16px;
    text-align: center;
    align-self: center;
}

@media (min-width: 991px) {
    footer {
        margin: 0px 50px;
    }

    .lines {
        margin: 0px -50px;
    }

    .ugent {
        width: 80px;
    }

    .faculty {
        width: 145px;
    }

    .socials {
        margin-top: 30px;
    }

    .logo-size {
        width: 50px;
    }

    .email-txt {
        display: initial;
    }
}