body{
    margin: 0;
   
}

.wrapper{
    background-color: aqua;
  
}

.logo img{
    width: 100px;
    margin: 50px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.topnav {
	margin-right: 50px;
}

.topnav ul li {
	display: inline-block;
	margin-right: 30px;
	font-size: 17px;
}

.topnav a.about {
	text-decoration: none;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	color: black;
}

.topnav a.contact {
	text-decoration: none;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	color:black;
}

/**.topnav a.deelnemen {
	text-decoration: none;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
    color: black;
}**/

.topnav a.vote {
	text-decoration: none;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
    color: #db7caa;
    background-color: #ffd200 ;
    padding: 20px;
    border-radius: 20px;
}

.topnav ul li a.about:hover {
	display: inline-block;
	background-color: black;
	border-color: black;
	transform: rotate(5deg);
	transform: rotate(-15deg);
	transition-duration: 300ms;
	padding: 15px;
	color: white;
}

.topnav ul li a.contact:hover {
	display: inline-block;
	background-color: black;
	border-color: black;
	transform: rotate(5deg);
	transform: rotate(-15deg);
	transition-duration: 300ms;
	padding: 15px;
	color: white;
}

.topnav ul li a.vote:hover {
	background-color: black;
	color: #ffd200;
	transition-duration: 300ms;
}

.title {
	background-color: black;
	margin-left: 150px;
	width: 500px;
	color: white;
	font-family: "Franklin Gothic Heavy", Arial, sans-serif;
	padding: 5px;
	transform: rotate(-5deg);
}

.title h1 {
	margin-left: 25px;
}
