    /* Define font styles */
    body {
      margin: 0px;
      color: #21221D;
      font-family: ff-tisa-sans-web-pro, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #21221D;
      font-family: malaga, serif;
    }

    p {
      color: #21221D;
      font-family: ff-tisa-sans-web-pro, sans-serif;
    }

    /* Define font sizes */
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 25px;
    }

    p {
      font-size: 17px;
    }

    /* Define colors */
    .primary {
      color: #21221D;
    }

    .secondary {
      color: #92140C;
    }

    .tertiary {
      color: #3A5743;
    }

    .bg-primary {
      background-color: #F1A42B;
    }

    .bg-secondary {
      background-color: #3A5743;
    }

    .bg-tertiary {
      background-color: #92140C;
    }

    .bg-blue {
      background-color: #3A5743;
    }

    .bg-soft-white {
      background-color: #FFFEF8;
      background-image: url(./Rescources/Height-lines2-color.svg);
      background-size: cover;
    }

    /* Define button styles */
    a {
      color: white;
      text-decoration: none;
      border-radius: 0;
    }

    .smallbtn,
    .bigbtn {
      background-color: #21221D;
      color: #FFFEF8;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      transition: all 0.7s ease;
      border: 2px solid #21221D;
    }

    .bigbtn {
      padding: 15px 25px;
      font-size: 24px;
    }

    .smallbtn:hover,
    .bigbtn:hover {
      background-color: #F1A42B;
      color: white;
      border: 2px solid #F1A42B;
      background-image: url(./Rescources/Height-lines2-black.svg);
      background-size: 400%;
    }

    /* Style for the text in the middle of the page */
    .center-text {
      text-align: center;
      padding: 100px;
      margin: 0px;
      background-image: url(./Rescources/Height-lines2-white.svg);
      background-size: 100%;
    }

    .center-text h1,
    .center-text p {
      color: #FFFEF8;
    }

    .outlined-text {
      text-align: left;
      color: #1a1b1f;
      padding: 100px;
      margin: 0px;
      margin-left: 100px;
    }